* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gotham Rounded";
}

body {
    background-color: #EFEFEF;
}

.navbar {
    background-color: #EFEFEF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    height: 100%;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}